<div>asdasddsad sad sad</div>
<!-- <div class="container-infoFilm">
    <div class="container-infoFilm-content">
        <h4>Film info:</h4>
        <div class="container-infoFilm__block">

            <div class="container-infoFilm__block-img">
                <img src="img/js.png" alt="img_film">
            </div>

            <div class="container-infoFilm__block-info">
                <table id="tableFilmInfoID"></table>
            </div>
        </div>
        <button id="btnCloseModalID">Close</button>
    </div>
</div> -->