<!-- <app-angular-material-example></app-angular-material-example> -->

<div class="container">
  <div class="container-searchFilms">
      <h4>Search:</h4>
      <div class="container-searchFilms__search">
          <div class="container-searchFilms__search-title">
              <label for="titleID">Title: </label>
              <input type="text" id="titleID" value='lion'>
          </div>
          <div class="container-searchFilms__search-title">
              <label for="typeID">Type: </label>
              <select name="type" id="typeID">
                  <option value="movie" selected>Movie</option>
                  <option value="series">Series</option>
                  <option value="episode">Episode</option>
              </select>
          </div>

          <button id="btnSearchID" (click)="getFilms('lion','Movie',1)">Search</button>

      </div>
  </div>
  <div class="container-showFilms">
      <h4>Films:</h4>
      <div class="container-films">
          <app-film-item *ngFor="let film of films" [film]="film"></app-film-item>
      </div>
  </div>
</div>

<button (click)="getFilmById()">get film</button>
<!-- <div class="container-infoFilm">
  <div class="container-infoFilm-content">
      <h4>Film info:</h4>
      <div class="container-infoFilm__block">-
          <div class="container-infoFilm__block-img">
              <img src="img/js.png" alt="img_film">
          </div>
          <div class="container-infoFilm__block-info">
              <table id="tableFilmInfoID"></table>
          </div>
      </div>
      <button id="btnCloseModalID">Close</button>
  </div>
</div> -->
